#route_board

  #route
    %h1 Current Tour

    %ul
      - @route_sequences.each do |stop|
        %li 
          = stop.stop_name
    
    #lightbox
      #popup
        %h1 This is the pop up box 
