/ All of this is inside #tour div
#tour_page
%h1 Current Tour

%ul
  - @audio_files.each do |audio|
    - audio.stops_before(current_user, audio).each do |stop|
      %li= stop.stop_name
    %li= audio.name

#lightbox
  #popup-title
    %a{href: "/", id: "audio-back-button"}
      %span.glyphicon.glyphicon-chevron-left#audio-back-button
    #popup-title-title
      %h1#popup-title-title-title HELLO WORLD story of my life
  #popup-audio
    %audio{controls: "controls", id: "tour-player", onended: "test()"}
      %source{src: "/sounds/the_beatles.mp3", type: "audio/mpeg"}
        Your browser does not support the audio element. 
  #popup-img
    %h1 This is the pop up image
    %img#popup-img-img{src: "/assets/buckingham_palace.jpg"}/

/ %audio{controls: "controls", id: "tour-player", onended: "test()"}
/   %source{src: "/sounds/the_beatles.mp3", type: "audio/mpeg"}
/     Your browser does not support the audio element. 
