%h1 Go to the desired bus stop

%div#bus-stop-map-canvas

%div#legend
  %b Legend
  %br
  %img{src: "/assets/bus-stop.png"} 
  Bus stop
  %br
  #circle
  Your location

#upcoming-buses

= button_to "Start tour", tour_path, :class => "btn btn-default", :method => :get 
 