%nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
  .container
    %ul.nav.nav-pills
      %li.active
        %a{href: "/"}
          %span.glyphicon.glyphicon-home
          Home
      %li
        %a{href: "/tour"}
          %span.glyphicon.glyphicon-headphones
          Tour
      %li
        %a{href: "/landmarks"}
          %span.glyphicon.glyphicon-map-marker
          Landmarks
      %li
        %a{href: "/map"}
          %span.glyphicon.glyphicon-globe
          Map